*{
    color: #ae0548;   
}
header .rk-topbar{
    font-family: Gentium Book Plus;
    position: end;
}
header .rk-topbar h1 .logo{
    font-family: Bangers;
    color: #ae0548;
    margin-bottom: 40px;
}
header .rk-topbar h1 sup{
    font-family: Book Plus;
    font-size: 10px;

}
.container svg use {
    color: #dc1a67;
}
a:hover{
    color: gray;
}
.dark{
    position: fixed;
    bottom: 170px;
    left: 10px;
}
.conf{
    position: fixed;
    left: 12px;
    bottom: 220px;
    animation: movimiento ls infinite linear;
}
@keyframes movimiento {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(100px);
    }
}
.conf img{
    display: block;
    text-decoration: none;
    padding: 7px;
    background-color: rgba(205, 10, 111, 0.349);
    width: 35px;
    height: 35px;
    line-height: 55px;
    align-items: center;
    border-radius: 50%;
}