<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"> <a class="logo" routerLink="">Oscarina Tejada</a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="portafolio" class="rk-menu__link">Portafolio</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="tienda" class="rk-menu__link">Tienda</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">Sobre mi</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="contact" class="rk-menu__link">Contacto</a>
          </li>
        </ul>
        <div class="rk-search">
          <input type="text" 
                 (keyup.enter)="buscarProducto(txtBuscar.value)"
                 placeholder="Buscar en la tienda" 
                 id="urku-search" 
                 class="rk-search-field"
                 #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>
      </nav>
  </div>
<!--
<div class="container">
<div class="conf">
  <a  src="assets/img/sunny.png" alt="svg#sunny"></a>
    <svg>
      <use xlink:href="assets/img/symbols.svg#confi" width="40px"></use>
    </svg>
</div>

<div class="dark">
  <svg >
    <use (click)= "changeMode()" xlink:href="assets/img/symbols.svg#sunny" width="40px"></use>
  </svg>
</div>
-->