<div class="container">
  <div>
    <svg class="facebook">
      <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
    </svg>
    <h2>Facebook</h2>
    <h5>Oscarina  Tejada</h5>
  </div>
  <div>
    <svg class="styleImg">
      <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
    </svg>
    <h2>Twitter</h2>
    <h5>Oscarin02235419</h5>
  </div>
  <div>
    <svg class="styleImg">
      <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
    </svg>
    <h2>Instagram</h2>
    <h5>@oscat25</h5>
  </div>
</div>

<div class="container">
  <h2 class="sub-title">!CONTACTAME!</h2>
</div>

