<mat-grid-list cols="3">
  <mat-grid-tile>
    <section align="center">
      <div>
        <svg class="styleImg">
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </div>
      <div>
        <h2>Facebook</h2>
        <h5>Oscarina Jacquelin Tejada</h5>
      </div>
    </section>
  </mat-grid-tile>
  <mat-grid-tile>
    <section align="center">
      <div>
        <svg class="styleImg">
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </div>
      <div>
        <h2>Twitter</h2>
        <h5>Oscarin02235419</h5>
      </div>
    </section>
  </mat-grid-tile>
  <mat-grid-tile align="center">
    <section>
      <div>
        <svg class="styleImg">
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </div>
      <div>
        <h2>Instagram</h2>
        <h5>@oscat25</h5>
      </div>
    </section>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <h2 class="sub-title">!CONTACTAME!</h2>
  </mat-grid-tile>
</mat-grid-list>
<!--
<mat-grid-list cols="2" rowHeight="150px">
  <form class="form">
    <div class="form_container">
      <mat-grid-tile>
        <div class="form__gruoup">
          <span class="form__line">Nombre:</span>
          <div>
            <input type="text" id="nombre" class="form__input" required />
            <label for="name" class="form__label"></label>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form__gruoup">
          <span class="form__line">Apellido:</span>
          <div>
            <input type="text" id="apellido" class="form__input" required />
            <label for="name" class="form__label"></label>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form__gruoup">
          <span class="form__line">Correo:</span>
          <div>
            <input type="text" id="correo" class="form__input" required />
            <label for="name" class="form__label"></label>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form__gruoup">
          <span class="form__line">Comentario:</span>
          <div>
            <textarea
              name="comentario"
              id="comentario"
              cols="20"
              rows="0"
              class="form__input"
            ></textarea>
            <label for="name" class="form__label"></label>
          </div>
        </div>
      </mat-grid-tile>
    </div>
  </form>
</mat-grid-list>
-->