<div class="about">
  <div class="container__title in-flex">
    <h1>Sobre mí...</h1>
    <p>
      Como developer, mi objetivo es proveer soluciones de desarrollo, haciendo
      uso de mis conocimientos en las diferentes áreas de labor en las que me he
      desempeñado, y las que detallo a continuación. Además, busco ser capaz de
      contribuir e implementar ideas de crecimiento, asegurándoles calidad,
      responsabilidad y confidencialidad en cada uno de los proyectos
      realizados.
    </p>
  </div>
  <div class="container about">
    <div class="card in-flex">
      <figure>
        <img
          src="https://img.freepik.com/vector-gratis/analista-trabajando-computadora-portatil-proceso-automatizacion-automatizacion-procesos-empresariales-flujo-trabajo-procesos-empresariales-ilustracion-concepto-sistema-empresarial-automatizado_335657-2086.jpg?w=2000"
          alt=""
        />
      </figure>
      <div class="contenido">
        <h3>Analista de Sistemas</h3>
        <li>Levantamiento de información</li>
        <li>Analisis de modelado de datos</li>
        <li>Diseño de sistemas</li>
        <li>Arquitecto de software</li>
        <li>Resolución de problemas</li>
        <a href="#">Leer mas</a>
      </div>
    </div>
    <div class="card in-flex">
      <figure>
        <img
          src="https://img.freepik.com/free-vector/project-management-business-process-planning-workflow-organization-colleagues-working-together-teamwork_335657-2469.jpg?w=2000"
          alt=""
        />
      </figure>
      <div class="contenido">
        <h3>Developer Front-end</h3>
        <li>Manejo de HTML, CSS y JS</li>
        <li>Bootstrap y Angular Material</li>
        <li>Conocimientos en Angular</li>
        <li>Creación de diseño Responsive</li>
        <li>Manejo de Apis</li>
        <a href="#">Leer mas</a>
      </div>
    </div>
    <div class="card in-flex">
      <figure>
        <img
          src="https://img.freepik.com/vector-gratis/personas-que-dibujan-elementos-pagina-web-telefono-inteligente-pantalla-lcd-desarrollo-interfaz-usuario-concepto-proceso-desarrollo-software-paleta-azul-coral-rosado-ilustracion-vectorial_335657-1640.jpg?w=2000"
          alt=""
        />
      </figure>
      <div class="contenido">
        <h3>Project Mannager</h3>
        <li>Planificación de proyecto</li>
        <li>Supervisión de tareas</li>
        <li>Establecimiento de Objetivos</li>
        <li>Coordinación de las partes</li>
        <li>Implementación de soluciones</li>
        <a href="#">Leer mas</a>
      </div>
    </div>
  </div>
</div>
