<div class="about">
  <div class="container__title in-flex">
    <h1>Proyectos</h1>
    <div class="container about">
      <a class="card in-flex" href="https://oscatj.github.io/presupuesto-app-angular/">
        <figure>
          <img
            src="https://img.freepik.com/vector-gratis/contabilidad-financiera-personaje-dibujos-animados-contable-femenino-haciendo-informe-financiero-resumen-analisis-informes-estado-financiero-ingresos-saldo-ilustracion-metafora-concepto-aislado-vector_335657-2801.jpg?w=2000"
            alt=""
          />
          Sistema de presupuesto personal
        </figure>
      </a>
      <a class="card in-flex" href="https://oscatj.github.io/pagina-web-nomina/#/home">
        <figure>
          <img
            src="https://img.freepik.com/vector-gratis/ilustracion-vector-concepto-abstracto-agencia-ingresos-ley-tributaria-remision-gst-hst-registro-numero-empresa-plan-ahorros-pensiones-cuenta-nomina-beneficio-familiar-metafora-abstracta-caridad_335657-4341.jpg?w=2000"
            alt=""
          />
          Página Web informativa
        </figure>
      </a>
      <a class="card in-flex" href="https://oscatj.github.io/reloj-digital/">
        <figure>
          <img
            src="https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-de-vector-concepto-abstracto-administraci%C3%B3n-tiempo-software-herramientas-seguimiento-productividad-planificaci%C3%B3n-194516823.jpg"
            alt=""
          />
          Reloj Digital
        </figure>
      </a>
      <a class="card in-flex" href="https://oscatj.github.io/calculadora/">
        <figure>
          <img
            src="https://img.freepik.com/vector-gratis/contabilidad-financiera-personaje-dibujos-animados-contable-masculino-haciendo-informe-financiero-resumen-analisis-informes-estado-financiero-ingresos-saldo_335657-845.jpg?w=2000"
            alt=""
          />
          Calculadora
        </figure>
      </a>
      <a class="card in-flex" href="https://oscatj.github.io/pagina-web-historia/#/home">
        <figure>
          <img
            src="https://img.freepik.com/vector-premium/concepto-historia-materia-escuela-historia-idea-ciencia-educacion-conocimiento-pasado-antiguedad_277904-6102.jpg?w=2000"
            alt=""
          />
         Historia Dominicana
        </figure>
      </a>
      <a class="card in-flex" href="https://oscatj.github.io/marcar-tareas/">
        <figure>
          <img
            src="https://media.istockphoto.com/vectors/small-people-working-near-big-documents-clipboard-to-do-list-vector-id1061716004?k=20&m=1061716004&s=170667a&w=0&h=3_7pyCbW9uuVvep_Fx03pG8ZmXJC8Dnc2NW-MCw25pY="
            alt=""
          />
          Completar tareas
        </figure>
      </a>
      
  </div>
</div>
