  <mat-grid-list cols="2">
    <mat-grid-tile>
      <section>
          <figure class="hero__picture">
            <img
              src="../../../assets/svg/perfil.svg"
              alt="programing"
              width="500px"
            />
          </figure>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <section>
        <h2>Developer Frontend</h2>
        <h3>
          <button
            mat-raised-button
            [routerLink]="['/SobreMi']"
            target="_blank"
          >
            Conoce más
          </button>
        </h3>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
  