<section class="portafolio">
<div class="in-flex">
      <figure class="hero__picture">
        <img
          src="https://img.freepik.com/vector-gratis/trabajo-equipo-planificacion-empresarial-reunion-personas-pequenas-dibujos-animados-intercambio-ideas-estrategia-agenda-blanco_109722-1106.jpg"
          alt="programing"
          width="600px"
        />
      </figure>
</div>
<div class="in-flex" style="margin:30px;">
      <div class="wrapper" >
        <div class="static-txt">Soy</div>
        <ul class="dynamic-txt">
          <li><span>Oscarina</span></li>
          <li><span>Developer</span></li>
          <li><span>Analista</span></li>
          <li><span>Project Mannager</span></li>
        </ul>
      </div>
      <div class="cv">
        <a href="/assets/cv.pdf" download="CV Oscarina Tejada" (click)="descarga('')">DESCARGA AQUI MI CV</a>
        <i class="fa-thin fa-arrow-down-to-square"></i>
    </div>
  </div>