@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Road+Rage&family=The+Nautigal:wght@400;700&family=Yanone+Kaffeesatz:wght@200&display=swap');
body{
  font-family: Gentium Book Plus;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }

}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }